
#logo
{
    float:right;
    width: 40px;
}


#trangchu:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}



#vechungtoi:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}

#navbardrop:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}

}

#dangki:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}

#sukien:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}



#doitac:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}


#lienhe:hover
{
    color:white;
    background-color: #ffcf00;
    border-radius: 10px;
}
